{include file="public/layout" /}
<link rel="stylesheet" href="__PUBLIC__/static/css/consoles.css">
<link rel="stylesheet" href="/static/plugs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/static/css/style.css">
<script src="__PUBLIC__/static/js/wechat.js?v=1.2"></script>
<script src="/static/plugs/require/require.js"></script>
<script src="/static/app.js"></script>
<style>
    a {
        color:#333
    }
</style>
<div class="wrapper wrapper-content  layui-anim layui-anim-up" style="padding:0 10px">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this"> <a href="{:url('admin/wechat/weFans')}">微信粉丝管理</a> </li>
                <div class="pull-right margin-right-15 nowrap">
                    <button data-update="" data-action="{:url('backdel')}" data-title="添加标签" class='layui-btn layui-btn-sm'> <i class="fa fa-plus"></i> 拉黑粉丝</button>
                    <button data-load="{:url('admin/wechat/fans_sync')}" class='layui-btn layui-btn-sm layui-btn-primary'>远程获取粉丝</button>            
                </div>    
            </ul>
        </div>
        <form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}"  method="get">

                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">昵 称</label>
                    <div class="layui-input-inline">
                        <input name="nickname" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">性 别</label>
                    <div class="layui-input-inline">
                        <select name="sex" class="layui-select">
                            <option value="">- 性别 -</option>
                            <!--{foreach [1=>'男',2=>'女'] as $key=>$sex}-->
                            <!--{if $Think.get.sex eq $key.''}-->
                            <option selected value="{$key}">- {$sex} -</option>
                            <!--{else}-->
                            <option value="{$key}">- {$sex} -</option>
                            <!--{/if}-->
                            <!--{/foreach}-->
                        </select>
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">标 签</label>
                    <div class="layui-input-inline">
                        <select name="tag" class="layui-select" lay-search="true">
                            <option value="">- 粉丝标签 -</option>
                            
                            <!--{foreach $tags as $key=>$tag}-->
                            <!--{if $Think.get.tag eq $key}-->
                            <option selected value="{$key}">{$tag}</option>
                            <!--{else}-->
                            <option value="{$key}">{$tag}</option>
                            <!--{/if}-->
                            <!--{/foreach}-->
                          
                        </select>
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">国 家</label>
                    <div class="layui-input-inline">
                        <input name="country" value="{$Think.get.country|default=''}" placeholder="请输入国家" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">省 份</label>
                    <div class="layui-input-inline">
                        <input name="province" value="{$Think.get.province|default=''}" placeholder="请输入省份" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">城 市</label>
                    <div class="layui-input-inline">
                        <input name="city" value="{$Think.get.city|default=''}" placeholder="请输入城市" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">时 间</label>
                    <div class="layui-input-inline">
                        <input name="create_at" id='create_at' value="{$Think.get.create_at|default=''}" placeholder="关注时间" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-form-item layui-inline">
                    <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                </div>
            
        </form>
        <form onsubmit="return false;" data-auto="true" method="post">
                {if count($list) == 0}
                    <p class="help-block text-center well">没 有 记 录 哦！</p>
                {else /}
                <input type="hidden" value="resort" name="action">
                <table class="layui-table" lay-skin="line">
                    <thead>
                    <tr>
                        <th class='list-table-check-td think-checkbox'>
                            <input data-auto-none="none" data-check-target='.list-check-box' type='checkbox'/>
                        </th>
                        <th class='text-left'>用户昵称</th>
                        <th class='text-left'>性别</th>
                        <th class='text-left'>标签</th>
                        <th class='text-left'>区域</th>
                        <th class='text-left'>关注时间</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $key=>$vo}
                    <tr>
                        <td class='list-table-check-td think-checkbox'>
                            <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                        </td>
                        <td class='text-left nowrap'>
                            <img data-tips-image class="headimg" src="{$vo.headimgurl}"/>
                            {$vo.nickname|default='<span class="color-desc">未设置微信昵称</span>'}
                        </td>
                        <td class='text-left'>
                            {$vo.sex==1?'男':($vo.sex==2?'女':'未知')}
                        </td>
                        <td class="nowrap nowrap">
                            <span><a data-add-tag='{$vo.id}' data-used-id='{:join(",",array_keys($vo.tags_list))}' style="border-radius:0" id="tag-fans-{$vo.id}" class='label label-default add-tag'>+</a></span>
                            {if empty($vo.tags_list)}
                                <span class="color-desc">尚未设置标签</span>
                            {else /}
                            {foreach $vo.tags_list as $k=>$tag}<span class="layui-badge layui-bg-gray margin-right-5">{$tag}</span>{/foreach}
                            {/if}
                        </td>
                        <td class='text-left nowrap'>
                            {$vo.country|default='<span class="color-desc">未设置区域信息</span>'|raw}{$vo.province}{$vo.city}
                        </td>
                        <td class='text-left nowrap'>{$vo.subscribe_at}</td>
                        <td class="text-center nowrap">
                            <a data-update="{$vo.id}" data-action="{:url('backadd')}">拉黑</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>

                {/if}
        </form>
        {include file='admin@wechat/tags_inc'}
</div>
<script>
        window.laydate.render({range: true, elem: '#create_at'});
        window.form.render();
</script>