<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" type="image/x-icon" href="{$site_config.shop_info_store_ico|default='/public/static/images/logo/storeico_default.png'}" media="screen"/>
    <title>{$site_config.shop_info_store_name|default='SamAdmin'}</title>
    <script type="text/javascript">
        var SITEURL = window.location.host +'/index.php/admin';
      </script>
    <link href="__PUBLIC__/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/static/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/static/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/js/layui/css/layui.css">
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/dialog/dialog.js" id="dialog_js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/admincp.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery.validation.min.js"></script>
    <script src="__PUBLIC__/static/js/layui/layui.all.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
</head>

<body>
    <div class="admincp-header">
        <div class="bgSelector"></div>
        <div id="foldSidebar"><i class="fa fa-outdent " title="展开/收起侧边导航"></i></div>
        <div class="admincp-name" onClick="javascript:openItem('welcome|Index');">
            <!-- <h2 style="cursor:pointer;">TPshop3.0<br>平台系统管理中心</h2> -->
            <img  style="width: 148px;height: 28px" src="{$site_config.shop_info_admin_home_logo|default='/public/static/images/logo/admin_home_logo_default.png'}" alt="">
        </div>
        <div class="nc-module-menu">
            <ul class="nc-row">
                {volist name="head_menu" id="vv"}
                    <li data-param="{$vv.op}"><a href="javascript:void(0);">{$vv.name}</a></li>
                {/volist}
                <!-- <li data-param="index"><a href="javascript:void(0);">首页</a></li>
                <li data-param="system"><a href="javascript:void(0);">设置</a></li>
                <li data-param="center"><a href="javascript:void(0);">内容管理</a></li>
                <li data-param="member"><a href="javascript:void(0);">会员</a></li>      -->
            </ul>
        </div>
        <div class="admincp-header-r">
            <!-- <div class="manager">    
                <dl>
                  <dt class="name">{$admin_info.user_name}</dt>
                  <dd class="group">管理员</dd>
                </dl>
                <span class="avatar">
                <img alt="" tptype="admin_avatar" src="__PUBLIC__/static/images/admint.png"> </span><i class="arrow" id="admin-manager-btn" title="显示快捷管理菜单"></i>
                <div class="manager-menu">
                    <div class="title">
                        <h4>最后登录</h4>
                        <a href="javascript:void(0);" onClick="CUR_DIALOG = ajax_form('modifypw', '修改密码', '{:url('Admin/modify_pwd',array('admin_id'=>$admin_info['admin_id']))}');" class="edit-password">修改密码</a> 
                    </div> 
                    <div class="login-date"> <?php echo date('Y-m-d H:i:s',session('last_login_time'));?> <span>(IP: <?php echo session('last_login_ip');?> )</span> </div> 
                     <div class="title">
                        <h4>常用操作</h4>
                        <a href="javascript:void(0)" class="add-menu">添加菜单</a> 
                    </div>
                    <ul class="nc-row" tptype="quick_link">
                        <li><a href="javascript:void(0);" onClick="openItem('index|System')">站点设置</a></li>
                    </ul> 
                </div>
            </div> -->
            <div class="operate bgd-opa">
                <span class="bgdopa-t">{$admin_info.user_name}<i class="opa-arow"></i></span>
                <ul class="bgdopa-list">
                    <li><a class="login-out show-option" href="{:url('Admin/logout')}" style="text-align: center">退出系统</a></li>
                    <li><a class="sitemap show-option" style="text-align: center" href="{:url('System/cleanCache',array('quick'=>1))}" target="workspace">更新缓存</a></li>
                    <li><a class="sitemap show-option" style="text-align: center" target="workspace" href="{:url('admin/modify_pwd',array('admin_id'=>$admin_info['admin_id']))}">修改密码</a></li>
                  
            </div>
          </div>
          <div class="clear"></div>
    </div>
    <div class="admincp-container unfold">
        {include file="public/left" /}
          <div class="admincp-container-right">
            <!--<div class="top-border"></div>-->
            <iframe src="" id="workspace" name="workspace" style="overflow: visible;" frameborder="0" width="100%" height="94%" scrolling="yes" onload="window.parent"></iframe>
          </div>
    </div>

    <script type="text/javascript">

        function FullScreen(el){
            var isFullscreen=document.fullScreen||document.mozFullScreen||document.webkitIsFullScreen;
            if(!isFullscreen){
                (el.requestFullscreen&&el.requestFullscreen())||(el.mozRequestFullScreen&&el.mozRequestFullScreen())||
                 (el.webkitRequestFullscreen&&el.webkitRequestFullscreen())||(el.msRequestFullscreen&&el.msRequestFullscreen());
            }else{
                document.exitFullscreen?document.exitFullscreen():
                document.mozCancelFullScreen?document.mozCancelFullScreen():
                document.webkitExitFullscreen?document.webkitExitFullscreen():'';
            }
            }
        function toggleFullScreen(e){
            var el=e.srcElement||e.target;//target兼容Firefox
            el.innerHTML=='点我全屏'?el.innerHTML='退出全屏':el.innerHTML='点我全屏';
            FullScreen(el);
            }
            </script>
</body>
</html>