<style>
    .system_img_location{text-align: center; width: 120px;position:absolute;top:15px; margin-left:265px;}
    .layui-input-inline {
        width: 280px!important;
    }
    .select {
        width: 150px!important;
    }
    .err {
        margin-top: 5px!important;
        display: inline-block!important;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
    <!-- <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li> <a href="{:url('admin/user/index')}">会员列表</a> </li>
            <li class="layui-this"><a  href="{:url('admin/user/add')}">{$vo.user_id ? '编辑' : '新增'}会员</a></li>
            <li style="float:right;padding: 0;min-width: 35px;"><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></li>
            <li style="float:right;padding: 0;min-width: 35px;"><a  href="javascript:history.back();" title="返回列表"> <i class="fa  fa-arrow-left"></i></a></li>
        </ul>
    </div> -->
    <div class="layui-tab-content">
                <div class="layui-row">
                    <form class="layui-form" action="{:url('admin/user/userHandle')}" method="post" onsubmit="return false">
                        <input type="hidden" name="act" id="act" value="{$vo.user_id ? 'edit' : 'add'}">
                        <input type="hidden" name="user_id" value="{$vo.user_id|default=''}">
                        <input type="hidden" name="auth_code" value="{$Think.config.AUTH_CODE}"/>
                        {:token()}
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="nickname">会员昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickname" maxlength="20"  id="nickname"  required  lay-verify="required"  value="{$vo.nickname|default=''}"   autocomplete="off" class="layui-input">   
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="head_pic">头像</label>
                            <div class="layui-input-inline">
                                <input type="text" name="head_pic"  id="head_pic" value="{$vo.head_pic|default=''}" onClick="GetUploadify(1,'head_pic','head','img_call_back')" readonly  placeholder="请上传链接图片" autocomplete="off" class="layui-input">
                                <span class="show">
                                    <p id="link_logo_pre" target="_blank" class="nyroModal" rel="gal" href="javascript:void(0);">
                                        <img  id="head_pic_preimg" data-tips-image style="width:150px;height:60px;border:2px solid #e5e5e5;border-radius:5px;margin-top:5px" src="{$vo.head_pic|default=''}" alt="图片" title="点击查看大图">
                                        
                                    </p>
                                </span>
                            </div>
                            <div class="layui-input-inline">
                                <input type="button" class="layui-btn layui-btn-normal"  onClick="GetUploadify(1,'head_pic','head','img_call_back')" value="上传">
                            </div>
                            <div class="layui-form-mid layui-word-aux" style="margin-left:-200px">头像</div>
                        </div>
                        <div class="layui-form-item">
                                <label class="layui-form-label" for="password">登录密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="password"   id="password" value="{$vo.password|default=''}"  required  lay-verify="required"  autocomplete="off" class="layui-input"> 
                                </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="password_confirm">重复密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password_confirm"   id="password_confirm" value="{$vo.password|default=''}"  required  lay-verify="required"  autocomplete="off" class="layui-input"> 
                            </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" for="mobile">手机号码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mobile"   id="mobile" value="{$vo.mobile|default=''}"  required  lay-verify="required|phone|number"  autocomplete="off" class="layui-input"> 
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                          <input type="radio" name="sex" value="1" title="男"  {if condition="isset($vo.sex) && $vo.sex == 1"} checked{/if}>
                          <input type="radio" name="sex" value="2" title="女" {if condition="isset($vo.sex) && $vo.sex == 2"} checked{/if}>
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label" for="qq">QQ</label>
                        <div class="layui-input-inline">
                            <input type="password" name="qq"   id="qq" value="{$vo.qq|default=''}"    autocomplete="off" class="layui-input"> 
                        </div>
                       </div>
                       <div class="layui-form-item">
                        <label class="layui-form-label" for="email">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email"   id="email" value="{$vo.email|default=''}"    autocomplete="off" class="layui-input"> 
                        </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否锁定</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="is_lock" lay-skin="switch" lay-text="是|否" {$vo.is_lock ? 'checked' : ''}>
                            </div>
                        </div> 
                        
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                            <button class="layui-btn ajax_form_submit" lay-submit lay-filter="ajax_form_submit">立即提交</button>
                       
                            </div>
                        </div>
                    </form>
                </div>
    </div>
    
<script>
     var form = layui.form;
            form.render();


</script>


</body>
</html>